src/main/mule/stripe-create-session.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core
        http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http
        http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core
        http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/salesforce
        http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">

    <http:request-config name="Stripe_Request_Config"
                         doc:name="Stripe HTTP Config">
        <http:request-connection
            protocol="HTTPS"
            host="api.stripe.com"
            port="443"/>
    </http:request-config>

    <flow name="stripe-create-session-flow">

        <http:listener
            config-ref="HTTP_Listener_config"
            path="/payment/create-session"
            allowedMethods="POST"
            doc:name="Receive Create Session Request">
            <http:response statusCode="#[vars.httpStatus default 200]"/>
        </http:listener>

        <!-- 2. Extraire les données -->
        <set-variable
            variableName="opportunityName"
            value="#[payload.opportunityName default 'Payment']"
            doc:name="Save Opportunity Name"/>
        <set-variable
            variableName="amount"
            value="#[payload.amount default 0]"
            doc:name="Save Amount"/>
        <set-variable
            variableName="currency"
            value="#[payload.currency default 'eur']"
            doc:name="Save Currency"/>
        <set-variable
            variableName="opportunityId"
            value="#[payload.opportunityId default '']"
            doc:name="Save Opportunity ID"/>

        <logger
            level="INFO"
            message="#[output application/java --- 'Creating Stripe session for: ' ++ vars.opportunityName ++ ' | amount: ' ++ (vars.amount as String)]"
            doc:name="Log Request"/>

        <!-- 3. Appel API Stripe -->
        <http:request
            config-ref="Stripe_Request_Config"
            method="POST"
            path="/v1/checkout/sessions"
            doc:name="Call Stripe API">
            <http:body><![CDATA[#[output application/x-www-form-urlencoded
---
{
    'mode': 'payment',
    'success_url': 'https://httpbin.org/post',
    'cancel_url': 'https://httpbin.org/post',
    'line_items[0][price_data][currency]': lower(vars.currency),
    'line_items[0][price_data][product_data][name]': vars.opportunityName,
    'line_items[0][price_data][unit_amount]': (vars.amount * 100) as Number as String,
    'line_items[0][quantity]': '1',
    'metadata[opportunity_id]': vars.opportunityId
}]]]></http:body>
            <http:headers><![CDATA[#[output application/java --- {
                'Authorization': 'Bearer ' ++ p('stripe.secret_key'),
                'Content-Type': 'application/x-www-form-urlencoded'
            }]]]></http:headers>
        </http:request>

        <!-- 4. Extraire l'URL et sauvegarder le sessionId -->
        <set-variable
            variableName="checkoutUrl"
            value="#[payload.url]"
            doc:name="Save Checkout URL"/>
        <set-variable
            variableName="sessionId"
            value="#[payload.id]"
            doc:name="Save Session ID"/>

        <!-- 5. Mettre à jour l'Opportunity avec le Session ID -->
        <salesforce:update
            config-ref="Salesforce_Config"
            type="Opportunity"
            doc:name="Update Opportunity with Session ID">
            <salesforce:records><![CDATA[#[[{
                "Id": vars.opportunityId,
                "Stripe_Session_ID__c": vars.sessionId
            }]]]]></salesforce:records>
        </salesforce:update>

        <logger
            level="INFO"
            message="#[output application/java --- 'Opportunity updated with session ID: ' ++ vars.sessionId]"
            doc:name="Log Opportunity Update"/>

        <!-- 6. Retourner la réponse -->
        <ee:transform doc:name="Set Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: true,
    checkoutUrl: vars.checkoutUrl,
    sessionId: vars.sessionId
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <error-handler>
            <on-error-propagate type="ANY" doc:name="Handle Error">
                <logger
                    level="ERROR"
                    message="#[output application/java --- 'Error creating Stripe session: ' ++ (error.description default 'unknown')]"
                    doc:name="Log Error"/>
                <ee:transform doc:name="Set Error Response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: false,
    error: error.description default 'Internal error'
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <set-variable variableName="httpStatus" value="500" doc:name="Set 500"/>
            </on-error-propagate>
        </error-handler>

    </flow>

</mule>